@charset "UTF-8";

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumSquareRound', '맑은 고딕', Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  color: #2a738b;
}

.hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
  font-size: 1px;
  line-height: 1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  height: 100px;
}

.menu_bar {
  position: relative;
  width: 1180px;
  margin: auto;
}

.menu_bar h2 {
  position: absolute;
  top: 23px;
}

.menu_bar h2 a {
  display: block;
  width: 162px;
  height: 50px;
  text-indent: -99999px;
  background: url("../image/logo_k.png") no-repeat;
}

.open_gnb {
  display: none;
}

.m_home {
  display: none;
}

.dth1_a {
  display: block;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 20px 0;
}

.gnb {}

.gnb>ul {
  display: block;
  padding-left: 320px;
  float: right;
}

.gnb>ul>li {
  float:left;
  padding: 0 15px;
}

.gnb>ul>li>a {
  position: relative;
  display: block;
  line-height: 100px;
  font-size: 1.1em;
  font-weight: bold;
  color: #727171;

}

.gnb>ul>li .bar {
  position: absolute;
  left: 0;
  top: 70px;
  width: 0%;
  height: 3px;
  background: #1cafd4;
  transition: 0.3s;
}

.gnb>ul>li:hover .bar {
  width: 100%;
}

body {
  background:#769aa4;
}
.question {
margin:100px auto;
padding:100px 0;
}

form {
color:#fff;
text-align:center;
width:1000px;
margin:auto;

}

legend {
position:relative;
text-align:center;
margin:auto;
font-size:46px;
margin-bottom:50px;
}

label {
font-size:24px;
padding-top:23px;
padding:20px;
width:100px;
float:left;
position:relative;
left:28px;
}

#font {margin-top:16px}
#choose {
  position:relative;
  left:24px;
  width:80%;
  height:44px;
  text-align:center;
  border-radius:10px;
  font-size:18px;
  font-family:'NanumSquareRound' ;
  border:thin;
}


.center {
  position:relative;
  left:-46px;
}
input[type="text"] {
width:30%;
border:thin solid white;
font-size: 18px;
padding: 10px;
border-radius: 10px;
border: 0;
background: #ececec;
box-sizing: border-box;
margin: 30px;
float:left
}

textarea {
  width:80%;
  height:80%;
  resize:none;
  border:thin solid white;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background: #ececec;
  box-sizing: border-box;
  margin: 30px;
  float:left}

input[type="submit"] {
float: center;
font-size: 26px;
background: #3e4b78;
color:#fff;
padding: 10px;
margin-top: 20px;
border-radius: 10px;
cursor: pointer;
border: 0;
}

input[type="submit"]:hover {
background: #a1addb;
color: #ffffff;
transform: translate(2px, 2px);
}
.footer {
  background: #2d3a75;

}

.footer .cent {
  width: 1180px;
  height: 207px;
  margin: auto;


}

.footer img {
  display: inline-block;
  position: relative;
  top: 146px;
  width: 180px;
}

.footer .footer_text {
  display: inline-block;
  position: relative;
  padding-left: 552px;
  line-height: 27px;
  top: -67px;
}

.footer_menu {
  width: 500px;
  margin: auto;
  text-align: center;
  position: absolute;
  margin-left: 200px;
  font-size: 20px;
}

.footer_menu ul {}

.footer_menu li {
  display: inline-block;
  margin: 0 20px
}

.footer_menu li a {
  color: #fff
}

.footer_text p {
  color: #fff
}

.icon {
  position: relative;
  width: 500px;
  float: right;
  top: -200px
}

.icon .right {
  float: right;
  position: absolute;
  margin: 70px 0px 0 20px;
  width: 500px;
}

.icon .right img {
  float: right;
  cursor: pointer;
  padding: 30px;
  width: 35px;
  height: 35px
}

@media (max-width:1200px) {
  .menu_bar {
    width: 100%;
    margin: auto;
    position: relative;
  }

  .menu_bar h2 {
    left: 50%
  }

  .menu_bar h2 a {
    display: block;
    width: 1173px;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translate(-85px);

  }

  .logo {
    display: inline-block;
    position: relative;
    top: 0;
    left: auto;
    transform: translate(0);
    margin: auto;
    text-align: center;
  }

  .logo a {
    padding-top: 17px;
    width: 80px;
  }

  .logo a:before {
    width: 80px;
    background-size: 80px auto;
  }

  .gnb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: auto;
    background: #fff;
    z-index: 10;
  }

  .gnb .m_home {
    position: absolute;
    display: block;
    top: 10px;
    float: right;
    width: 90px;
  }

  .gnb .m_home a {
    display: block;
    padding: 10px;
  }

  .gnb .m_home a:before {
    display: block;
    content: '';
    width: 153px;
    height: 48px;
    margin-left: 10px;
    background: url('../image/logo_e.png') no-repeat;
    background-size: 100%;
  }

  /* 햄버거 버튼 */
  .open_gnb {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .open_gnb span {
    position: absolute;
    width: 20px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    background: #05141f;
    text-indent: -9999px;
    transition: 0.4s;
  }

  .open_gnb span:before,
  .open_gnb span:after {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #05141f;
    transition: 0.4s;
  }

  .open_gnb span:before {
    top: -5px;
  }

  .open_gnb span:after {
    top: 5px;
  }

  /* 햄버거 버튼을 클릭했을때(.open적용) */
  .open_gnb.open {
    top: 0;
    left: 310px;
    z-index: 100
  }

  .open_gnb.open span {
    background: transparent;
  }

  .open_gnb.open span:before {
    top: 0;
    transform: rotate(45deg);
  }

  .open_gnb.open span:after {
    top: 0;
    transform: rotate(-45deg);
  }

  .gnb>ul {
    padding: 0;
    float: none;
  }

  .gnb>ul>li {
    float: none;
    padding: 0
  }

  .gnb>ul>li>a {
    line-height: 33px;
  }

  .gnb_nav {
    float: none;
    margin: 60px 0 0 0;
  }

  .dth1_1 {
    float: none;
    border-top: 1px solid #d1d1d1;
  }

  .dth1_a {
    position: relative;
    display: block;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
    padding: 17px 0 0 25px;
    height: 47px;
  }

  .gnb_nav {
    float: none;
    margin: 60px 0 0 0;
  }
}

@media (max-width:960px){
  form {
    width:748px;
  }
  #choose {
    left:0;
    width:50%;
  }
  .grey {
    text-align:center;
    overflow:hidden;
  }

  .label {padding-left:16px;}
  .center {
    left:0;
    width:456px;
    height:566px;
    left:-12px;
    margin:auto;
  }

  input[type="text"]{
    width:56%;
    margin:30px;
  }
  textarea {
    width:56%;height:auto;
    padding:10px;
    float:none;
    position:relative;
    top:-54px;
    margin: 0 172px;
    font-weight:bold;
    
  }
}
@media (max-width:500px){
  .menu_bar h2 {
    left: 0
  }

  .menu_bar h2 a {
    position: relative;
    width: 500px;
    left: 48%;

  }

  .gnb {
    width: 38%;
    height: 833px;
  }

  .open_gnb.open {
    top: 0;
    left: 162px;
    z-index: 100;
  }

  form {
    width:492px;
  }
  #choose {
    left:-15px;
    width:75%;
  }
  .center {
    margin:0;
  }

  .footer_menu {
    width: 480px;
    margin-left: 0;
    font-size: 16px;
  }

  .footer img {

    top: 100px;
    left: 15px
  }

  .footer .footer_text {
    padding-left: 10px;
    width: 458px;
    margin-top: 44px;
  }

}

@media (max-width:420px){
  .gnb {
    width:51%;
  }
  .menu_bar h2 a {
    left:37%;
  }
  
  form {
    width:368px;
  }

  #choose {left:0;
  width:291px;}
  label {
    padding:0;
    padding-top:23px;
    width:77px;
    font-size:18px;
  }
  textarea {
    margin: 0 107px;
  }
  .footer {
    background: #2d3a75;
    height: 462px;
}

.footer img {
  left: 21px;
}
  .footer_menu {
    width: 334px;
  }

  .footer_menu li {
    margin: 0;
    padding: 0 5px;
  }

  .footer .footer_text {
    width: 306px;
    font-size: 12px;
    padding-left: 32px;
  }

  .footer .cent {
    width: 334px;
  }

  .footer img {
    left: 26px
  }
  .icon .right {
    margin:0;
    bottom: -502px;
    width: 446px;
}
}